* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #708090 !important; 
}

.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 114px;
    border: 5px solid transparent;
    outline: 3px solid black;
    border-radius: 50%;
}

h2 {
    font-size: 18px;
    margin: 15px;
    text-align: center;
}

.btn-group {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group-top,
.button-group-bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 200px;
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    background-color: #2F4F4F; /* Gris acero en los botones */
    color: white;
    border-radius: 5px;
}
